 /* https://coolors.co/1c335f-e86e24-fcb900-00d084-0693e3-503aa8-fbfaf3 */

.journey-map {
    max-height: calc(100vh - 100px);
    top: 62px;
    position: sticky;
    overflow: auto;
    scrollbar-color: #868686 transparent;
}

html {
    height: 100%;
    scrollbar-color: #868686 transparent;
    background-attachment: fixed;

    /* https://coolors.co/gradient-maker/adc2eb-d9bbdd-fcd19c?position=0,60,100&opacity=100,100,100&type=linear&rotation=90 */
    background-color: hsla(220, 61%, 80%, 1);
    background-image: linear-gradient(-45deg, hsla(220, 61%, 80%, 1) 0%, hsla(293, 33%, 80%, 1) 60%, hsla(33, 94%, 80%, 1) 100%);
    background-image: -moz-linear-gradient(-45deg, hsla(220, 61%, 80%, 1) 0%, hsla(293, 33%, 80%, 1) 60%, hsla(33, 94%, 80%, 1) 100%);
    background-image: -webkit-linear-gradient(-45deg, hsla(220, 61%, 80%, 1) 0%, hsla(293, 33%, 80%, 1) 60%, hsla(33, 94%, 80%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ADC2EB", endColorstr="#D9BBDD", GradientType=1 );

    font-size: 18px;
}

body {
    height: 100%;
}

main.container {
    margin-top: 10px;
}

article > div {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    border-radius: var(--bulma-radius);
}

.button {
    background-color: hsla(var(--bulma-button-h), var(--bulma-button-s), calc(var(--bulma-button-background-l) + var(--bulma-button-background-l-delta)),
        var(--bulma-button-background-a)
    );
}

[role="navigation"] .button small,
[role="navigation"] .button strong {
    line-height: 1em;
    text-wrap: wrap;
}

[role="navigation"] .button {
    --bulma-button-background-a: 0.25;
    height: 100%;
}
[role="navigation"] .button:hover {
    --bulma-button-background-a: 1;
}

[role="navigation"] .button[aria-label="Previous"]::before {
    content: "←";
    margin-right: 1rem;
}
[role="navigation"] .button[aria-label="Next"]::after {
    content: "→";
    margin-left: 1rem;
}

.menu-list a, .menu-list button, .menu-list .menu-item {
    background-color: hsla(var(--bulma-menu-item-h), var(--bulma-menu-item-s), calc(var(--bulma-menu-item-background-l) + var(--bulma-menu-item-background-l-delta)),
        var(--bulma-menu-item-background-a)
    );
    backdrop-filter: blur(10px);
}

.menu-list a.is-active, .menu-list a.is-selected, .menu-list button.is-active, .menu-list button.is-selected, .menu-list .menu-item.is-active, .menu-list .menu-item.is-selected {
    --bulma-menu-item-background-a: 1;
}

.menu-list a:hover, .menu-list button:hover, .menu-list .menu-item:hover {
    --bulma-menu-item-background-a: 1;
}

.menu-list {
    counter-reset: chapter -1;
}

[data-menu-type="chapter"]::before {
    counter-increment: chapter;
    content: counter(chapter) ". ";
}

.menu-list > li {
    counter-reset: section;
}

.menu-list > li [data-menu-type="section"]::before {
    counter-increment: section;
    content: counter(section, lower-alpha) ". ";
}

.term {
    display: inline-block;
}

.term--definition {
    display: none;
    position: absolute;
    background-color: white;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    line-height: 1.25em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-weight: 400;
}

.term--term {
    transition: 100ms all linear;
    border-bottom: 1px dotted var(--bulma-body-color);
    cursor: pointer;
}

.term--term:hover {
    background-color: hsla(220, 61%, 80%, 0.5);
}

.term--term:hover + .term--definition {
    display: block;
}

.book--breadcrumb {
    margin-bottom: 0;
}

.book--module-title {
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 0.25em;
}

.book--read-time {
    font-style: italic;
}


article {
    counter-reset: reading-section reading-chapter;
    /* font-size: 18px; */
}

article [data-section-order]::before {
    /* counter-set: reading-section attr(data-section-order); */
    content: attr(data-section-label) ". ";
}

article [data-chapter-order]::before {
    --reading-chapter: attr(data-chapter-order);
    /* counter-set: reading-chapter var(--reading-chapter); */
    content: var(--reading-chapter) ". ";
}

article p,
article li {
    margin-bottom: 1em;
}

article li > p {
    margin-bottom: 0.5em;
}

article ul, article ol {
    margin-left: 2em;
}

article ul li {
    list-style-type: disc;
}
/* article li {
    list-style-type: disc;
} */

article table {
    margin-bottom: 1em;
}

article table td:first-child {
    padding-right: 1em;
    text-align: right;
    font-weight: 600;
}

article tr {
    border-bottom: 1px dotted var(--bulma-body-color);
}

article .chapter--intro > ol > li,
article .chapter--review > ol > li {
    list-style-type: lower-alpha;
}

article li li {
    margin-bottom: 0.5em;
}

article li ul,
article li ol {
    margin-top: 0.5em;
}

h1 {
    font-size: 2.027rem;
    font-weight: 900;
}
h2 {
    font-size: 1.802rem;
    font-weight: 700;
}
h3 {
    font-size: 1.602rem;
    font-weight: 600;
}
h4 {
    font-size: 1.424rem;
    font-weight: 600;
}
h5 {
    font-size: 1.266rem;
    font-weight: 600;
}
h6 {
    font-size: 1.125rem;
    font-weight: 600;
}
p, li {
    font-size: 1rem;
}
small{
    font-size:  0.889rem;
}

dd {
    margin-bottom: 0.5rem;
}

dt {
    text-transform: capitalize;
    display: inline-block;
    font-weight: 600;
    font-style: italic;
}

details {
    border-radius: 0.25rem;
    border: 1px dotted var(--bulma-body-color);
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

details summary {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.25rem;
    cursor: pointer;
}

details p {
    margin: 0.5rem 0.25rem;
}

.workbook--exercise {
    margin-bottom: 1rem;
    gap: 0.5rem;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 4px;
}

.workbook--exercise div {
    justify-content: flex-end;
}

.workbook--exercise--explanation p {
    margin: 0 0.25rem 0.5rem;
}

.workbook--exercise--calc,
.workbook--exercise--calc input {
    font-size: 20px;
    padding: 4px;
    border-radius: 4px;
}

.workbook--exercise--calc input {
    width: 100%;
    border: 1px dotted var(--bulma-body-color);
}

.workbook--exercise--calc[data-prefix]::before {
    content: attr(data-prefix);
    line-height: 2rem;
    padding-right: 0.25rem;
    font-weight: 700;
    /* justify-items: center; */
}

.workbook--exercise--calc input[readonly] {
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
}

.workbook--exercise--calc--result input[readonly] {
    color: var(--bulma-body-color);
    background-color: white;
    border: 2px solid rgb(41, 66, 255);
}