 /* https://coolors.co/1c335f-e86e24-fcb900-00d084-0693e3-503aa8-fbfaf3 */

.journey-map {
    max-height: calc(100vh - 100px);
    top: 62px;
    position: sticky;
    overflow: auto;
    scrollbar-color: #868686 transparent;
}

html {
    height: 100%;
    scrollbar-color: #868686 transparent;
    background-attachment: fixed;

    /* https://coolors.co/gradient-maker/adc2eb-d9bbdd-fcd19c?position=0,60,100&opacity=100,100,100&type=linear&rotation=90 */
    background-color: hsla(220, 61%, 80%, 1);
    background-image: linear-gradient(-45deg, hsla(220, 61%, 80%, 1) 0%, hsla(293, 33%, 80%, 1) 60%, hsla(33, 94%, 80%, 1) 100%);
    background-image: -moz-linear-gradient(-45deg, hsla(220, 61%, 80%, 1) 0%, hsla(293, 33%, 80%, 1) 60%, hsla(33, 94%, 80%, 1) 100%);
    background-image: -webkit-linear-gradient(-45deg, hsla(220, 61%, 80%, 1) 0%, hsla(293, 33%, 80%, 1) 60%, hsla(33, 94%, 80%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ADC2EB", endColorstr="#D9BBDD", GradientType=1 );
}

body {
    height: 100%;
}

main.container {
    margin-top: 10px;
}

article > div {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    border-radius: var(--bulma-radius);
}

.button {
    background-color: hsla(var(--bulma-button-h), var(--bulma-button-s), calc(var(--bulma-button-background-l) + var(--bulma-button-background-l-delta)),
        var(--bulma-button-background-a)
    );
}

[role="navigation"] .button small,
[role="navigation"] .button strong {
    line-height: 1em;
}

[role="navigation"] .button {
    --bulma-button-background-a: 0.25;
}
[role="navigation"] .button:hover {
    --bulma-button-background-a: 0.5;
}

[role="navigation"] .button[aria-label="Previous"]::before {
    content: "←";
    margin-right: 1rem;
}
[role="navigation"] .button[aria-label="Next"]::after {
    content: "→";
    margin-left: 1rem;
}

.menu-list a, .menu-list button, .menu-list .menu-item {
    background-color: hsla(var(--bulma-menu-item-h), var(--bulma-menu-item-s), calc(var(--bulma-menu-item-background-l) + var(--bulma-menu-item-background-l-delta)),
        var(--bulma-menu-item-background-a)
    );
    backdrop-filter: blur(10px);
}

.menu-list a.is-active, .menu-list a.is-selected, .menu-list button.is-active, .menu-list button.is-selected, .menu-list .menu-item.is-active, .menu-list .menu-item.is-selected {
    --bulma-menu-item-background-a: 1;
}

.menu-list a:hover, .menu-list button:hover, .menu-list .menu-item:hover {
    --bulma-menu-item-background-a: 1;
}

.menu-list {
    counter-reset: chapter;
}

[data-menu-type="chapter"]::before {
    counter-increment: chapter;
    content: counter(chapter) ". ";
}

.menu-list > li {
    counter-reset: section;
}

.menu-list > li [data-menu-type="section"]::before {
    counter-increment: section;
    content: counter(section, lower-alpha) ". ";
}