 /* https://coolors.co/1c335f-e86e24-fcb900-00d084-0693e3-503aa8-fbfaf3 */

.journey-map {
    max-height: calc(100vh - 100px);
    top: 0;
    position: sticky;
    overflow: auto;
    scrollbar-color: #868686 transparent;
}

html {
    scrollbar-color: #868686 transparent;
    background-position: fixed;

    /* https://coolors.co/gradient-maker/adc2eb-d9bbdd-fcd19c?position=0,60,100&opacity=100,100,100&type=linear&rotation=90 */
    background: hsla(220, 61%, 80%, 1);
    background: linear-gradient(-45deg, hsla(220, 61%, 80%, 1) 0%, hsla(293, 33%, 80%, 1) 60%, hsla(33, 94%, 80%, 1) 100%);
    background: -moz-linear-gradient(-45deg, hsla(220, 61%, 80%, 1) 0%, hsla(293, 33%, 80%, 1) 60%, hsla(33, 94%, 80%, 1) 100%);
    background: -webkit-linear-gradient(-45deg, hsla(220, 61%, 80%, 1) 0%, hsla(293, 33%, 80%, 1) 60%, hsla(33, 94%, 80%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ADC2EB", endColorstr="#D9BBDD", GradientType=1 );
}

main.container {
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(10px);
    margin-top: 10px;
}

.menu-list {
    counter-reset: chapter;
}

[data-menu-type="chapter"]::before {
    counter-increment: chapter;
    content: counter(chapter) ". ";
}

.menu-list > li {
    counter-reset: section;
}

.menu-list > li [data-menu-type="section"]::before {
    counter-increment: section;
    content: counter(section, lower-alpha) ". ";
}