---
import "../styles/global.css";

const { chaptersWithSections } = Astro.props

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main class="flex">
        <nav class="fixed top-0 left-0 z-20 flex flex-col flex-shrink-0 hidden w-64 h-full pt-16 font-normal duration-75 lg:flex transition-width">
      <div
        class="relative flex flex-col flex-1 min-h-0 pt-0 bg-white border-r border-gray-200"
      >
        <div class="flex flex-col flex-1 pt-5 pb-4 overflow-y-auto">
          <div
            class="flex-1 px-3 space-y-1 bg-white divide-y divide-gray-200"
          >
            <ul role="list" class="divide-y divide-white/5">
                {chaptersWithSections.map((topLevel) => (
                <li class="flex p-4">
                    <div class="flex-1">
                        {topLevel.title}
                    </div>
                    {/* <div class="flex-2">
                        <ul>
                            {topLevel.sections.map((midLevel) => (
                                <li><div>{midLevel.title}</div></li>
                            ))}
                        </ul>
                    </div> */}
                </li>))}
            </ul>
            </div></div></div>
        </nav>
        <div class="px-4 pt-6 flex-2">
            <slot></slot>
        </div>
    </main>
    <footer></footer>
</body>
</html>